<!DOCTYPE HTML>
<!--
	Transitive by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>유사일기도 검색</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}"/>
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="http://cdal.korea.ac.kr/">CDAL</a> <a href="{{ url_for('showMainPage') }}"><span>메인</span></a></div>
				<a href="#menu" class="toggle"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{{ url_for('showMainPage') }}">Home</a></li>
					<li><a href="{{ url_for('showTablePage') }}">Table</a></li>
				</ul>
			</nav>

		<!-- Banner -->
		<!--
			To use a video as your background, set data-video to the name of your video without
			its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
			formats to work correctly.
		-->
			<section id="banner" data-video="{{ url_for('static', filename='images/banner') }}">
				<div class="inner">
					<h1>유사일기도 검색</h1>
					<p>과거의 일기도와 유사한 일기도를 검색<br /></p>
					<a href="#one" class="button special scrolly">검색하기</a>
				</div>
			</section>

		<!-- One -->
			<section id="one">
				<div class="box">
					<div class="content">
						<h2 class="align-center">날짜 입력</h2>
						<hr />
						<form action="{{ url_for('showTablePage') }}" method = "POST">
							<!-- <div class="field half first"> -->
								<!-- <label for="name">Name</label> -->
								<!-- <input name="userdate" id="name" type="text" placeholder="Name"> -->
							<!-- </div> -->
							<div class="field half">
								<label for="date">Date</label>
								<input name="userdate" id="date" type="date" placeholder="date" min = "2016-10-01" max = "2016-10-31">
							</div>


							<ul class="actions align-center">
								<li><input value="검색" class="button special" type="submit"></li>
							</ul>
						</form>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer" class="wrapper">
				<div class="inner">
					<div class="copyright">
						&copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images <a href="https://unsplash.com/">Unsplash</a>. Video <a href="http://coverr.co/">Coverr</a>.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

	</body>
</html>